<div class="w-full bg-black nav h-fit">
    <div class=" flex h-fit w-full">
        <div class="flex w-fit h-[120px] text-center">
            <ul class="grid content-center h-full gap-1 px-3">
                <li class="w-full bg-gradient-to-br from-purple-600 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium py-[2px] px-[8px] rounded-lg">Setup</li>
                <li class="w-full bg-gradient-to-br from-purple-600 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium py-[2px] px-[8px] rounded-lg">Trans</li>
                <li class="w-full bg-gradient-to-br from-purple-600 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium py-[2px] px-[8px] rounded-lg">Report</li>
            </ul>
            <div class="border-l-2 border-solid border-orange-300 h-full"></div>
             
        </div>
        <div class="w-full h-fit">
            <div class="flex w-full h-[96px] text-white justify-center items-center"><div class="">Company Logo</div> </div>
            <div class="flex gap-1 p-1 flex-wrap">
                @for (item of items; track $index) {
                    <div class="px-2 bg-yellow-200" (click)="OnSelect(item)">{{item.name}}</div>
                } @empty {
                    
                }
            </div>
        </div>
    </div>
    <div class="flex w-full h-fit flex-wrap gap-2 p-2 bg-white">
        @for (subitem of selectedItem?.subitems; track $index) {
            <div class="px-1 bg-slate-400">{{subitem.name}}</div>
        } @empty {
            
        }
    </div>
    <button class="text-white" routerLink="/purchase_details">Open</button>
</div>
<!-- 
<li class="m-1 bg-gradient-to-br from-purple-600 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-xl px-5 py-2">About US.</li>
<li class="m-1 bg-gradient-to-br from-purple-600 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-xl px-5 py-2">Contact US.</li> -->