
*{
    font-family: "JetBrainsMono Nerd Font";
    font-weight: bold;
    min-height: 0;
    /* set font-size to 100% if font scaling is set to 1.00 using nwg-look */
    font-size: 98%;
    font-feature-settings: '"zero", "ss01", "ss02", "ss03", "ss04", "ss05", "cv31"';
    padding: 0px;
    margin-top: 1px;
    margin-bottom: 1px;
    }
    
    window#waybar {
      background: rgba(0, 0, 0, 0)
    }
    
    window#waybar.hidden {
      opacity: 0.5;
    }
    
    tooltip {
      background-color: rgb(32, 32, 32);
      border-radius: 10px;
      border-width: 2px;
      border-style: solid;
      border-color: #373737;
    }
    
    /*-----module groups----*/
    .modules-left {
    background-color: rgba(153, 153, 153, 0.671);
    border-radius: 20px;
    padding-right: 5px;
    }
    
    .modules-center {
      background-color: rgba(153, 153, 153, 0.671);
      border-radius: 20px;
    }
    
    .modules-right {
      margin: 2px;
      /* background-color: rgb(32, 32, 32); */
      /* border: 0px solid #373737; */
      /* border-radius: 10px; */
    
    }
    
    #workspaces {
      /* background-color: rgb(32, 32, 32); */
      /* border: 0px solid #191919; */
      /* border-radius: 20px; */
      /* padding-left: 10px; */
      /* padding-right: 10px; */
      
    }
    
    #workspaces button {
      color: #ff9318;
      padding-left: 3px;
      padding-right: 3px;
      margin-left: 5px;
      background-color: rgb(32, 32, 32);
      border: 0px solid #191919;
      border-radius: 20px;
    }
    
    #workspaces button.active {
      color: #ff0000;
      font-weight: bolder;
      background-color: rgb(0, 0, 0);
      border-radius: 15px 15px 15px 15px;
    }
    
    #workspaces button.focused {
      color: #d8dee9;
      /* background-color: rgb(0, 0, 0); */
    }
    
    #workspaces button.urgent {
      color: #11111b;
      /* background-color: rgb(0, 0, 0); */
      border-radius: 10px;
    }
    
    #workspaces button:hover {
      color: #0eff4a;
      border-radius: 15px;
    }
    
    
    #taskbar {
      /* background-color: rgba(32, 32, 32, 0); */
      border-radius: 20px;
      padding-left: 2.5px;
      padding-right: 2.5px;
    }
    
    #taskbar button {
      padding-left: 6px;
      padding-right: 6px;
      background-color: rgba(32, 32, 32, 0);
      color: #ff9318;
      font-size: 15px;
      
    }
    
    #taskbar button.active {
      /* color: #ff0000; */
      font-weight: bolder;
      background-color: rgba(216, 11, 11, 0.959);
      border-radius: 15px 15px 15px 15px;
    }
    
    #taskbar button.focused {
      color: #000000;
      /* background-color: rgb(0, 0, 0); */
    }
    
    #taskbar button.urgent {
      color: #11111b;
      /* background-color: rgb(0, 0, 0); */
      border-radius: 10px;
    }
    
    #taskbar button:hover {
      color: #0eff4a;
      background-color: rgb(0, 0, 0);
      border-radius: 15px;
    }
    
    #custom-network_traffic{
      padding-left: 10px;
      padding-right: 10px;
      color: #0eff4a;
      background-color: #000000;
      border-radius: 15px;
    }
    
    #tray{
      padding-left: 10px;
      padding-right: 10px;
      background-color: rgb(32, 32, 32);
      border-radius: 15px;
    }
    
    #battery{
      padding-left: 10px;
      padding-right: 10px;
      color: rgba(255, 8, 8, 0.774);
      background-color: rgb(32, 32, 32);
      border-radius: 15px;
    }
    
    #pulseaudio{
      padding-left: 10px;
      padding-right: 10px;
      color: rgba(255, 8, 8, 0.774);
      background-color: rgb(32, 32, 32);
      border-radius: 15px;
    }
    
    
    /* #window, */
    
    #clock,
    #cpu,
    #memory,
    #disk,
    #temperature,
    #network,
    #wireplumber,
    #mode,
    #cava,
    #backlight,
    #idle_inhibitor,
    #keyboard-state,
    #mpd,
    #bluetooth,
    #custom-updater,
    #custom-menu,
    #custom-cycle_wall,
    #custom-power,
    #custom-weather,
    #custom-power,
    #custom-lock,
    #custom-weather.severe,
    #custom-weather.sunnyDay,
    #custom-weather.clearNight,
    #custom-weather.cloudyFoggyDay,
    #custom-weather.cloudyFoggyNight,
    #custom-weather.rainyDay,
    #custom-weather.rainyNight,
    #custom-weather.showyIcyDay,
    #custom-weather.snowyIcyNight,
    #custom-weather.default #idle_inhibitor {
      color: #7aa2f7;
      padding: 0px 10px;
      border-radius: 10px;
    }
    
    
    
    #temperature.critical {
      background-color: #ff0000;
    }
    
    @keyframes blink {
      to {
        color: #000000;
      }
    }
    
    #battery.critical:not(.charging) {
      color: #f53c3c;
      animation-name: blink;
      animation-duration: 0.5s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      animation-direction: alternate;
    }